<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/theme/default.css">
  </head>

  <body>
    <!--THIS IS WHERE VUE JS STARTS TO WORK :3-->
    <div id="app">

      <!------------MENU------------->
      <div class="black md-layout">
        <div class="md-layout-item md-size-10"></div>
        <div class="md-layout-item">
          <md-button class="white">CITIBANK | ENGLISH</md-button>
        </div>
      </div>
      <md-toolbar class="md-medium md-layout degraded">
        <div class="md-layout-item md-size-10"></div>
        <div class="md-layout-item">
          <img src="citilogo.svg">
        </div>
      </md-toolbar>
      <div class="md-layout degraded">
        <div class="md-layout-item md-size-10"></div>
        <md-button @click="message=msg1">Button 1</md-button>
        <md-button @click="message=msg2">Button 2</md-button>
        <md-button @click="message=msg3">Button 3</md-button>
        <md-button @click="message=null">Button 4</md-button>
      </div>
      <!------------END MENU------------->
      
      <!------------MAIN CONTENT------------->
      <div class="md-layout md-gutter md-alignment-top-center">
        <md-toolbar class="md-layout-item md-size-100" v-show="message">{{message}}</md-toolbar>

        <!--NOT A FORM BUT HAS FIELDS INSIDE A VUE MATERIAL CARD------------->
        <md-card md-with-hover class="md-layout-item md-size-50">
          <md-ripple>
            <md-card-header>
              <div class="md-title">Este es el formulario</div>
              <div class="md-subhead">Así que llénalo pacientemente por favor :3</div>
            </md-card-header>

            <md-card-content>
              <div class="md-layout md-gutter">
                <div class="md-layout-item md-size-50">
                  <md-field>
                    <label>Aquí va tu nombre</label>
                    <md-input v-model="form.firstName"></md-input>
                  </md-field>
                </div>
                <div class="md-layout-item md-size-50">
                  <md-field>
                    <label>Y aquí tu apellido</label>
                    <md-input v-model="form.lastName"></md-input>
                  </md-field>
                </div>
                <div class="md-layout-item md-size-100">
                  <md-field>
                    <label>Tu correo pls</label>
                    <md-input v-model="form.email"></md-input>
                  </md-field>
                </div>
                <div class="md-layout-item md-size-100">
                  <md-field>
                    <label>Call me maybe?</label>
                    <md-input v-model="form.phone"></md-input>
                  </md-field>
                </div>
                <div class="md-layout-item md-size-100">
                  <md-radio v-model="form.radio" value="Ya lo sabía">Soy gay</md-radio>
                  <md-radio v-model="form.radio" value="Ya me lo esperaba">Soy ultra gay</md-radio>
                  <md-radio v-model="form.radio" value="He he he tus límites no me sorprenden">No existe valor para lo gay que soy</md-radio>
                </div>
                <small class="md-layout-item">{{form.radio}}</small>
              </div>
            </md-card-content>

            <md-card-actions>
              <md-button @click="send">Enviar</md-button>
              <md-button @click="clear">Nope</md-button>
            </md-card-actions>
          </md-ripple>
        </md-card>
        <!------------END NOT A FORM XD------------->

      </div>
      <!------------END MAIN CONTENT------------->
      
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-material@beta"></script>
    <script>
      Vue.use(VueMaterial.default)

      new Vue({
        el: '#app',
        data: {
          msg1: "Soy el botón 1 paps",
          msg2: "Yo soy el 2",
          msg3: "Ya te gustó no >:C",
          message: null,
          form: {
            firstName: '',
            lastName: '',
            email: '',
            phone: '',
            radio: null
          },
          showFormData: false
        },
        methods: {
          clear: function(){
            this.form.firstName = ''
            this.form.lastName = ''
            this.form.email = ''
            this.form.phone = ''
            this.form.radio = null
          },
          send: function(){
            this.showFormData = true
          }
        }
      })
    </script>
    <style lang="css" scoped>
      .md-toolbar + .md-toolbar {
        margin-top: 16px;
      }
      .degraded{  
        background-image: linear-gradient(#66b3ff, #0066cc);
      }
      .black{background-color: black;}
      .white{
        color: white !important;
        font-size: 1<em;
      }
    </style>
  </body>
</html>